{%extends 'base.html'%}
{% load thumbnail %}
{%block title%}{{user.username}}
{%endblock%}
{%block body %}
<!-- component -->
<div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3 ">
    <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
  <div class="flex justify-center -mt-8">
    {% thumbnail user.profile.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"class="mx-4  object-cover rounded-full hidden sm:block" alt="avatar">
    {% endthumbnail %}
      {% comment %} <img src="https://i.imgur.com/8Km9tLL.jpg" class="rounded-full border-solid border-white border-2 -mt-3">		 {% endcomment %}
  </div>
  <div class="text-center px-3 pb-6 pt-2">
      <h3 class="text-black text-sm bold font-sans">{{user }}</h3>
  </div>

    {%if request.user.is_authenticated%}
        {%if request.user != user %}
            <div class="my-3">
                <button
                class=" m-auto flex select-none items-center gap-3 rounded-lg bg-gradient-to-tr from-pink-600 to-pink-400 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none js-follow"
                type="button"
                data-url="{% url 'profile:follow' user.username %}"
                data-username="{{user.username}}"
                data-action="{% if you_follow  %}un{%endif%}follow"
                data-ripple-light="true"
                    >
                    <span class="js-follow-text">
                        {% if you_follow %}
                            Unfollow
                        {%else%}
                            Follow
                        {%endif%}
                    </span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="h-5 w-5"
                >
                <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                    
                </svg>
                
                </button>
            </div>
        {%endif%}
    {%else%}
        <div class="mt-3 text-sm">Login to follow the user</div>
    {%endif%}
    
    <div class="flex justify-center pb-3 text-black">
        
    <div class="text-center mr-3 border-r pr-3">
      <h2>{{total_posts}}</h2>
      <span>Posts</span>
    </div>
    <div class="text-center">
      <h2>{{total_followers}}</h2>
      <span>Followers</span>
    </div>
    </div>
</div>
{%endblock%}