{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div  class="p-12 ">
        <form method="post" action="{% url 'account_login' %}" class="max-w-sm  rounded-3xl bg-gradient-to-b from-sky-300 to-purple-500 p-px dark:from-gray-800 dark:to-transparent">
            <div class="rounded-[calc(1.5rem-1px)] bg-white px-10 p-12 dark:bg-gray-900 m-auto">
                <div>
                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Sign in to your account</h1>
                    <p class="text-sm tracking-wide text-gray-600 dark:text-gray-300">Don't have an account? <a href="{{ signup_url }}" class="text-blue-600 transition duration-200 hover:underline dark:text-blue-400">Signup</a> for free</p>
                </div>

                <div class="mt-8 space-y-8">
                    <div class="space-y-6">
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}

                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </div>

                    <button type="submit" class="h-9 px-3 w-full bg-blue-600 hover:bg-blue-700 active:bg-blue-800 focus:bg-blue-700 transition duration-500 rounded-md text-white">
                        Sign In
                    </button>
                </div>
            </div>
        </div>
    </form>

    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
</div>
{% endblock content %}
